@import "bootstrap";

html, body { height: 100%; margin: 0; }

.item-option.item-option-hidden {
  display: none;
}


.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}
